@charset "UTF-8";
/* CSS Document */
body {
    color: #28464b;
    margin: 5% auto;
    max-width: 44%;
	background-image: url(../images/background.jpg);
	background-size: cover;
	-webkit-background-size: cover;	
}

ul {
	list-style: none;
}

li {
    margin: 10px 0 10px 0;
    color: #34352C;
	font-size: 20px;
}

a{
	text-decoration:none;
}

a:link, a:visited{
	color: #666;	
}
a:hover, a:active{
	text-shadow:none;
}

a{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}